@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

* {
  font-family: Quicksand;
  color: #333;
}

body {
  background-color: #f7f4f4;
}

nav {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #f2f2f2;
}

nav h1,
.blog__title {
  color: #f1356d;
}

nav h1,
.link {
  font-weight: 700;
}

.link {
  text-decoration: none;
  margin-left: 15px;
}

.links {
  margin-left: auto;
}

.blog__list h1 {
  text-decoration: underline;
}

.blog {
  border-bottom: 1px solid #f2f2f2;
  background-color: white;
  padding: 10px;
}

.blog:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
  font-weight: 600;
  transform: scale(1.1);
  border-radius: 5px;
  margin: 20px 0;
}

.likes {
  color: #808080;
}

.likes i {
  color: rgb(197, 21, 21);
}
